<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Assignment Manager App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ng-container *ngFor="let item of assignments">
      <ion-item-sliding *ngIf="item.archived === 'No' ">
        <ion-item lines="inset" (click)="ngOnInit()" [routerLink]="['/details', item.id]">
          <ion-label>
            {{item.name}}
            <p>{{item.class}}</p>
          </ion-label>
          <ion-note slot="end" color="primary">
            {{item.dueDate | date: 'short' }}
          </ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="archive(item)" color="success">
            Archive
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/archives" routerDirection="forward">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>