ion-icon {
  min-width: 40px;
  min-height: 40px;
}

ion-item {
  margin: 2vh 2vw 2vh 2vw;
  padding: 1vh 1vw 1vh 1vw;
  --ion-background-color: white;
}

ion-content {
  --ion-background-color: lightgrey;
}

ion-card {
  background-color: white;
}
