body {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    color: teal;
}

.output {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}